@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

:root{
    --primaryColor: #1B2430;
    --secondaryColor: #51557E;
    --terciaryColor: #816797;
    --quaternaryColor: #D6D5A8;
    --white: #fff
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primaryColor);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    height: 8vh;
    background-color: var(--secondaryColor);
}

a{
    color: var(--white);
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu i{
    color: var(--white);
}

@media (max-width: 999px) {
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--secondaryColor);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
    .home{
        display: block;
    }
    .home-textPart{
        margin-left: 20%;
    }
    .home-img{
        margin-left: 20%;
    }
}

.nav-list.active{
    transform: translateX(0);   
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes cursor {
    0% { opacity: 1; }
      49% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 0; }
  }

.home{
    width: 100%;
    height: 92vh;
    font-family: 'Anonymous Pro', monospace;
    color: var(--white);
    display: inline-block;
    font-size: 0;
}

.home-img{
    width: 50%;
    height: 92vh;
    display: inline-block;
    vertical-align: top;
}

.home-img img{
    margin: 0 auto;
    margin-top: -5vh;
    max-width: 50vw;
}

.home-textPart{
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.home-textPart h1 {
    font-size: 60px;
    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
    font-weight: normal;
    letter-spacing: 3px;
}

.home-textPart h3{
    font-size: 40px;
}

.ult-h3{
    margin-bottom: 25px;
}

.home-textPart h1:after{
    content: '';
    display: inline-block;
    background-color: white;
    margin-left: 2px;
    height: 25px;
    width: 4px;
    animation: cursor 0.4s infinite;
}

.linkedin-button{
    text-decoration: none;
    border: 3px solid var(--secondaryColor);
    color: transparent;
    padding: 18px 50px;
    font-size: 28px;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 0.5s;
    position: relative;
  }

.linkedin-button:before {
    content: "LinkedIn";
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background: var(--primaryColor);
    font-size: 28px;
    top: 0;
    left: 100%;
    font-family: sans-serif;
    letter-spacing: 3px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(0) rotatey(0);
    opacity: 0;
  }
.linkedin-button:hover:before {
    transform: scale(1) rotatey(360deg);
    left: 0;
    opacity: 1;
  }
.linkedin-button:after {
    content: "LinkedIn";
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background: var(--primaryColor);
    font-size: 28px;
    top: 0;
    left: 0;
    font-family: sans-serif;
    letter-spacing: 3px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(1) rotatey(0);
    opacity: 1;
  }
.linkedin-button:hover:after {
    transform: scale(0) rotatey(360deg);
    left: -100%;
    opacity: 0;
  }

.github-button{
    text-decoration: none;
    border: 3px solid var(--secondaryColor);
    color: transparent;
    padding: 18px 50px;
    font-size: 28px;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 0.5s;
    position: relative;
    margin-left: 10px;
  }

.github-button:before {
    content: "Github";
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background: var(--primaryColor);
    font-size: 28px;
    top: 0;
    left: 100%;
    font-family: sans-serif;
    letter-spacing: 3px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(0) rotatey(0);
    opacity: 0;
  }
.github-button:hover:before {
    transform: scale(1) rotatey(360deg);
    left: 0;
    opacity: 1;
  }
.github-button:after {
    content: "Github";
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background: var(--primaryColor);
    font-size: 28px;
    top: 0;
    left: 0;
    font-family: sans-serif;
    letter-spacing: 3px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(1) rotatey(0);
    opacity: 1;
  }
.github-button:hover:after {
    transform: scale(0) rotatey(360deg);
    left: -100%;
    opacity: 0;
  }

.home-textPart section{
    margin-top: 30%;
}

.sobre{
    margin-top: 10vh;
    width: 100%;
    height: 100vh;
    background-color: var(--primaryColor);
    display: inline-block;
    font-size: 0;
}

.sobre-textPart{
    display: inline-block;
    width: 50%;
    height: 100%;
    font-size: 20px;
    vertical-align: top;
    color: var(--white);
}

.sobre-textPart h1, .sobre-imgPart h1{
    width: 90%;
    margin-top: 10vh;
    letter-spacing: 2px;
    margin-bottom: 5px;
    font-size: 50px;
    text-align: center;
}

.sobre-textPart p, .sobre-imgPart p{
    width: 90%;
    font-size: 25px;
    line-height: 26px;
    text-align: center;
}

.sobre-textPart img{
    width: 100px;
    height: 100px;
    text-align: center;
}

.sobre-imgPart{
    display: inline-block;
    width: 50%;
    height: 100%;
    color: var(--white);
    display: inline-block;
    font-size: 25px;
}

.sobre-imgPart p{
    font-size: 25px;
    transition: 2s;
}

.sobre-textPart-imgs{
    width: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.sobre-textPart-imgs a{
    margin: 5px 5px 5px 5px;
    cursor: pointer;
}
