@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

:root{
    --primaryColor: #1B2430;
    --secondaryColor: #51557E;
    --terciaryColor: #816797;
    --quaternaryColor: #D6D5A8;
    --white: #fff
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primaryColor);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    height: 8vh;
    background-color: var(--secondaryColor);
}

a{
    color: var(--white);
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}



.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu i{
    color: var(--white);
}

@media (max-width: 999px) {
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--secondaryColor);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
    
}

.nav-list.active{
    transform: translateX(0);   
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}